@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Verdana, Helvetica, sans-serif;
}

/*
@layer base {
  h1 {
    @apply text-lg font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
}*/

.runInNewWindowButton {
  border-radius : 1rem;
  margin-bottom : 1rem;
  margin-top : 1rem;
  padding-left : 1rem;
  padding-right : 1rem;
  padding-top : 1rem;
  padding-bottom : 1rem;
}
/*
use this for hover because you cant define hover style inline?
background-color : var(--background-color)*/
